@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100;
    
}

.body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

#header{
    align-items: center;
    display: flex;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: aqua;
    justify-content: space-around;
    
}

.header__navbar{
    background-color: violet;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    height: 100px;
}